html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html, body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

strong,
b {
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-family: "inherit";
    font-weight: 400;
    line-height: 1.5;
    background-color: #ffffff;
    position: relative;
}

#site-wrap {
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    margin: auto;
}

.inner-wrap, .base, main{
    position: relative;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 64em){
    .base #side-menu, .base .color-selection-preview-mode {
      transform: none;
      transition: none;
      animation: fix-nav-menu-large 200ms linear 0s 1;
    }
}

@media only screen and (min-width: 40em){
    .base #side-menu, .base .color-selection-preview-mode {
      width: 12.5rem;
      text-align: left;
    }
}

.base #side-menu, .base .color-selection-preview-mode {
    background-color: #262626;
    top: 0;
    left: auto;
    right: auto;
    width: 200px;
    height: 100%;
    overflow: auto;
}

.bb-inner-wrap, nav, ul {
    height: 100%;
}

.base #side-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110px;
  border-color: #262626 !important;
  border-bottom: 5px solid #c56fd5;
  -webkit-text-fill-color: #fff;
}

#logo_img {
  width: 95px;
  height: 95px;
  margin-bottom: 10px;
}

.color-selection-live-mode .themed-background-primary-fill-only, .color-selection-live-mode.themed-background-primary-fill-only, .color-selection-live-mode .themed-background-primary-alt-fill-only.disabled:hover, .color-selection-live-mode .integration-navigation-button-content .themed-background-primary-alt-fill-only {
    background-color: #bf0a2e !important;
    color: #ffffff !important;
}

@media only screen and (min-width: 40em){
    .base #side-menu, .base .color-selection-preview-mode {
      text-align: left;
    }
}

.color-selection-live-mode .themed-background-primary-fill-only, .color-selection-live-mode.themed-background-primary-fill-only, .color-selection-live-mode .themed-background-primary-alt-fill-only.disabled:hover, .color-selection-live-mode .integration-navigation-button-content .themed-background-primary-alt-fill-only {
    color: #ffffff !important;
  }

  *, ::before, ::after {
    box-sizing: inherit;
  }

  ul.off-canvas-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul, ol, dl {
    font-family: inherit;
    font-size: .875rem;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.25rem;
  }

  li:not(li:first-child) {
    margin-top: 3px;
  }

  #side-menu .base-navigation-button:first-child {
    padding-top: 0.1875rem;
  }

  aside{
    z-index: 1;
  }

  .base-navigation-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 60px;
    padding-left: 0.8rem;
  }

  .base-navigation-button:hover {
    background-color: #8f0722 !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
    border-left: 4px solid #c56fd5;
    -webkit-text-fill-color: #fff;
    cursor: pointer;
    transition: color 400ms, background-color 400ms;
  }

  .base-navigation-button span {
    margin-left: 15px;
  }

  .link_secrets{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  /*MAIN*/

  .base #main-content {
    position: relative;
  }

  main {
    display: block;
    width: 100%;
    height: 100%;
  }

  @media only screen and (min-width: 64em){
      .base #main-content {
        padding-left: 12.5rem;
        height: 100vh;
      }
  }

  .base #main-content {
    position: relative;
    padding-left: 12.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
  }

  .institution-page-container {
    position: relative;
    height: 100%;
  }

  .banner {
    background-image: url("../static/resources/Angel.png");
  }

  @media only screen and (min-width: 64em){
      .banner {
        height: 10rem;
      }
  }

  .banner {
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 9.5rem;
  }

  @media only screen and (min-width: 64em){
    .banner__logo-container {
      transform: none;
      left: 2rem;
      top: 3rem;
    }
  }

  .banner__logo-container {
    display: block;
    position: absolute;
    z-index: 1;
  }

  @media only screen and (min-width: 64em){
    .banner__logo {
      height: 8.75rem;
      width: 8.75rem;
    }
  }

  .banner__logo {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 50%;
    background-image: url("../static/resources/Logo_CTF_Innosoft.png");
  }

  @media only screen and (min-width: 64em){
    .banner__title {
      text-align: initial;
      font-size: 1.875rem;
      padding-right: 0;
      padding-left: 12rem;
      padding-top: 0;
    }
  }

  @media only screen and (min-width: 40em){
    .banner__title {
      height: 3.75rem;
      line-height: 3.75rem;
      font-size: 1.5rem;
      padding-top: 0.25rem;
    }
  }

  .banner__title {
    position: absolute;
    margin: 0;
    bottom: 0;
    padding: 0 1.875rem;
      padding-top: 0px;
      padding-right: 1.875rem;
      padding-left: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #fff;
    height: 2.875rem;
    line-height: 2.875rem;
    font-size: 1.25rem;
  }

  h1, h2, h3 {
    font-family: "Noto Serif",serif;
    font-weight: 400;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #262626;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: .5rem;
    margin-top: .2rem;
    text-rendering: optimizeLegibility;
  }

  .banner__title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #000);
    z-index: 0;
  }

  .banner__title-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    height: 100%;
  }

  .banner__title > * {
    z-index: 1;
  }

  @media only screen and (min-width: 64em){
      .modules-container {
        padding: 1.875rem;
      }
  }

  @media only screen and (min-width: 40em){
      .modules-container {
        padding: 1.5rem;
      }
  }

  .modules-container {
    max-width: 80rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .row {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 100px;
  }

  #logo_img_mascota {
    height: 110px;
    margin-top: 20px;
}